# Ignoriere PyCharm-Projektdateien
.idea/

# Ignoriere virtuelle Umgebungen
venv/

# Ignoriere Python-Cache-Dateien
__pycache__/
*.pyc
*.pyo

# BLAST temp files
blast_results_*.txt
query_*.fasta

logs/

pdb2net/configs/config.local.json